---
layout: defaultPage
title: Portfolio
---

{% include PageHeader.html %}
<br>
{% include AboutMe.html %}


{% include PortfolioIcon.html thumbnail = "/assets/images/ECZTThumbnailCropped.png" title = "Elusive Core: Zero Trace" tagline = "Escape the system, become unknown" pageId = "ECZT"%}
{% include PortfolioIcon.html thumbnail = "/assets/images/ECZTThumbnailCropped.png" title = "Elusive Core: Zero Trace" tagline = "Escape the system, become unknown" pageId = "ECZT"%}
{% include PortfolioIcon.html thumbnail = "/assets/images/ECZTThumbnailCropped.png" title = "Elusive Core: Zero Trace" tagline = "Escape the system, become unknown" pageId = "ECZT"%}
{% include PortfolioIcon.html thumbnail = "/assets/images/ECZTThumbnailCropped.png" title = "Elusive Core: Zero Trace" tagline = "Escape the system, become unknown" pageId = "ECZT"%}
{% include PortfolioIcon.html thumbnail = "/assets/images/ECZTThumbnailCropped.png" title = "Elusive Core: Zero Trace" tagline = "Escape the system, become unknown" pageId = "ECZT"%}

{% include PortfolioPage.html id = "ECZT"%}