{% include Textbox.html
    title = "About Me"
    content = "
        I am a games programmer with an interest in writing games systems that are designed to be flexible and easy to use, both by programmers and non-programmers
        <br> My skills include:
        <ul class = textboxtext>
            <li>Unity</li>
            <li>C#</li>
            <li>C++</li>
            <li>Java</li>
            <li>DirectX 11</li>
            <li>Open GL 4.5</li>
            <li>SFML</li>
            </ul>
    "
    %}