

{% for item in site.data.portfolio %}
<div class = "showbox">
    <h2>{{item.Title}} </h2>
    
    {%if item.Type1 == "video"%}
    <iframe src = {{item.Image1}} class = "showimage showtl"></iframe>
    {%else%}
    <img src={{item.Image1}} class = "showimage showtl"></img>
    {%endif%}
    
    <img src={{item.Image2}} class = "showimage showtr"></img>
    <img src={{item.Image3}} class = "showimage showbl"></img>
    <img src={{item.Image4}} class = "showimage showbr"></img>

    <p class = "showtext">{{item.paragraph}}</p>

</div>

{% endfor %}