{% for item in site.data.portfolio %}
<div class = "showbox">
    <h2>{{item.Title}} </h2>
    
    {% capture EmbedLinkVar %} {{item.Image1}} {% endcapture %}
    {%include ImageShowcase.html EmbedLink = EmbedLinkVar Class = "showimage showtl"%}
    
    {% capture EmbedLinkVar %} {{item.Image2}} {% endcapture %}
    {%include ImageShowcase.html EmbedLink = EmbedLinkVar Class = "showimage showtr"%}

    {% capture EmbedLinkVar %} {{item.Image3}} {% endcapture %}
    {%include ImageShowcase.html EmbedLink = EmbedLinkVar Class = "showimage showbl"%}

    {% capture EmbedLinkVar %} {{item.Image4}} {% endcapture %}
    {%include ImageShowcase.html EmbedLink = EmbedLinkVar Class = "showimage showbr"%}

    <p class = "showtext">{{item.paragraph}}</p>

</div>
{% endfor %}