<div class="header">
    <img src = "/assets/images/Cassie.jpeg" class = "headerphoto">
    
    <h1 class = "headertext">Cassie Parsons</h1>
    <h5 class = "headertext">Gameplay Programmer, Version Control Admin, Sword Fighter</h5>
    
    <a href = "https://github.com/CassieParticles"><img src = "/assets/images/githubLogo.png" class="headericon" ></a>
    <a href = "https://www.linkedin.com/in/cassie-parsons-b657aa1b3/"><img src = "/assets/images/LinkedInLogo.png" class="headericon"></a>
    <a href = "https://cassieparsons.itch.io/"><img src = "/assets/images/ItchLogo.png" class = "headericon"></a>
</div>