.header
{
    background-color: lightblue;
    line-height: 10px;
    border:10px outset lightblue;
    height: 160px;
}

.headertext
{
    font-family: 'Courier New', Courier, monospace;
}

.headerphoto
{
    //Fixed size
    width:128px;
    height:128px;
    
    //Floats to the right out the way
    float:right;
    margin-right: 16px;
    margin-top:16px;
}

.headericon
{
    width:64px;
    height:64px;

    float:left;
    margin-left: 8px;
    margin-bottom:8px;
}

.showbox
{
    background-color: green;
    line-height: 16px;
    border:10px outset green;
    height: 572px;

    position: relative;
}

.showimage
{
    width: 448px;
    height: 256px;
    
    position: absolute;
}

.showtl
{
    top: 30px;
    right: 500px;
}

.showtr
{
    top: 30px;
    right: 30px;
}

.showbl
{
    top: 300px;
    right: 500px;
}

.showbr
{
    top:300px;
    right:30px;
}