.portfolioBox
{
    display: none;  /*Default is none, controlled by buttons*/
    background-color: rgb(30,34,52);
    position: fixed;
    left: 10%;
    top:10%;
    width: 80%;
    height: 80%;
    overflow: auto
}

.portfolioCloseButton
{
    position: absolute;
    right:8px;
    top:8px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
}

.portfolioTitle
{
    font-size: 40px;
    margin: 8px;
    color: rgb(182, 146, 223);
}
.portfolioSubtitle
{
    color: rgb(54, 196, 176);
    margin: 8px;
    font-size: 32px;
    font-weight: 200;
}

.portfolioParagraph
{
    color: rgb(54, 196, 176);
    margin: 8px;
    font-size: 20px;
}


.portfolioImageRight
{
    width: 384px;
    height: 256px;
    padding: 8px;
    float: right;
}

.portfolioImageLeft
{
    width: 384px;
    height: 256px;
    float: left;
}