<h1 class = portfolioTitle>Elusive Core: Zero Trace</h1>
<br>
<p class = portfolioParagraph>
    This project was by far one of the largest ones I'd been on before, going on for 9 months total on a team of 8, it ways
    a great learning opportunity, during this project I learned the importance of code maintaiability and how to practically use
    inheritance with components in the Unity engine, as well as working well with designers and making tools for them to do their job 
    effectively.
</p>
<br>

<h2 class = portfolioSubtitle>
    Enemy AI
</h2>
<img src = "/assets/images/ECZT/BaseState.png" class = portfolioImageRight></img>

<p class = portfolioParagraph>
    The guard behaviour used a state machine, using an abstract class and inheritance for each state. The guard behaviour was set up as a puppet,
    with functions that would be called by the state machine to control it's behaviour, such as move, look, chase. Making adding new behaviour simpler and cleaner.
</p>
<br>
<h2 class = portfolioSubtitle>
    Hacking
</h2>
<p class = portfolioParagraph>
    Since we kept adding new hackable behaviours, it was important that hackable objects be simple to add. All hackable scripts inherit from an asbtract class.
    The player searches for these base types, and when hacking calls the virtual function OnHack. Meaning when new hackable objects are added, no changes to existing behaviours needs to happen
</p>
<br>

<h2 class = portfolioSubtitle>
    Spotlight
</h2>

<video  class = portfolioImageRight autoplay loop muted>
    <source src = "/assets/images/ECZT/Final showcase.webm">
</video>
<p class = portfolioParagraph>
    The spotlight behaviour was a puppet class, that could be told to move, and to follow the player. There were anchor objects that could be placed in the scene
    by our designer to control where the spotlight moves to, including a patrol anchor, which followed a repeating path, rather then just staying still. To control when the 
    spotlight changed anchors, triggers were created which took various triggers, such as player contact, noises, alarms, and hacked objects and changed the anchors.
</p>
<br>
<h2 class = portfolioSubtitle>
    Distance display
</h2>
<p class = portfolioParagraph>
    The display was a GUI intended to tell the player how far away the death wall and the checkpoints were. This used a tracker component which was attached to game objects to be tracked
    When the player was a certain distance from an object, it would be added to a sorted list of objects to be displayed. The GUI would appear on either the right or left, and would get larger 
    the closer the player was the larger the GUI appeared
</p>

<br>
<a href = "https://cosmic-coda.itch.io/eczt" class = portfolioParagraph>Our game can be found here</a>

<p class = portfolioParagraph>
The promotional photo used on the main page was created by Eden Dunbar, a member of our team
</p>