<h1 class = portfolioTitle>END Protocol</h1>

<p class= portfolioParagraph >
    END Protocol was a game we created for the Halloween Game jam hosted by AGDS, this was a 2 day game jam done with the Cosmic Coda team, primarily to see if we work well together,
    While this was a much shorter project it gave valuable insight into hpow our team could best work together, making a highly valuable game jam.

    In END protocol, you need to protect the Coda, a space ship stuck in a asteroid belt, you do this by grabbing asteroids and flinging them away. I implemented the grabbing code for 
    the meteors, while our other programmer implemented the physics to make grabbing the meteors feel more fun. Additionally I implemented the shipa nd the taking damage, and how that
    affected the time it took to escape.

    During this jam we learned some useful practices, as well as some that were not as useful. Most of our planning was on a collaborative drawing board, which was useful for design and art,
    but for programmers writing a list of features, it wasn't ideal, other tools such as Jira were much better suited for that task
</p>